# These files change dynamically based on the local system.
bin/*
config/fish/fish_variables
config/fish/functions/fish_prompt.fish
config/fish/functions/fish_user_key_bindings.fish
config/fish/functions/fzf_key_bindings.fish
gnupg/*
